{% extends 'base.html' %}

{% block content %}

<div class="container wrapper flex-grow-1">
  <h1 class="my-4">
    Мои Сообщения
  </h1>
  <div id="progress-bar-container" style="margin-bottom: 20px;">
    <div id="progress-bar" style="width: 0%; background: green; height: 20px;"></div>
    <div id="progress-text" style="margin-top: 5px; font-weight: bold;"></div>
  </div>
  <ul id="message-list"></ul>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Дата</th>
        <th>Текст</th>
        <th>Файлы</th>
      </tr>
    </thead>
    <tbody id="message-table-body">
      {% for message in messages %}
      <tr>
        <td><a href="{% url 'mail_messages:message_detail' message.id %}">{{ message.id }}</a></td>
        <td>{{ message.title }}</td>
        <td>{{ message.received_date }}</td>
        <td>{{ message.body|slice:":40" }}</td>
        {% if message.attachments %}
        <td>
          <ul>
            {% for attachment in message.attachments.all %}
              <li>
                  <a href="{{ attachment.file.url }}">{{ attachment.filename }}</a>
              </li>
            {% endfor %}
          </ul>
        </td>
        {% else %}
          <td></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<script>
    const emailAccountId = "{{ email_account_id }}";
    let socket = new WebSocket(`ws://localhost:8000/ws/email_messages/${emailAccountId}/`);

    socket.onmessage = function(e) {
        let data = JSON.parse(e.data);
        if (data.type === 'new_message') {
            let message = data.message;
            let newRow = `
                <tr>
                    <td>${message.id}</td>
                    <td>${message.title}</td>
                    <td>${message.received_date}</td>
                    <td>${message.body.slice(0, 40)}</td>
                    <td>${message.attachments || ''}</td>
                </tr>
            `;
            document.querySelector('#message-table-body').insertAdjacentHTML('afterbegin', newRow);
        } else if (data.type === 'progress_update') {
            let progress = data.progress;
            document.querySelector('#progress-bar').style.width = `${progress}%`;
            document.querySelector('#progress-text').textContent = `${progress}`;
        }
    };
    socket.onclose = function(e) {
        console.error('Socket закрыт неожиданно');
    };
</script>
{% endblock %}
