{% extends 'base.html' %}

{% block content %}

<div class="container wrapper flex-grow-1">
  <h1 class="my-4">
    Мои Почтовые аккаунты
  </h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Название</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for account in accounts %}
      <tr>
        <td>{{ account.id }}</td>
        <td>{{ account.email }}</td>
        <td><a href="{% url 'mail_messages:show_email_messages' account.id %}">просмотр сообщений</a></td>
        <td>
            <a href="{% url 'accounts:update_account' account.id %}">изменить</a>
        </td>
        <td>
          <a href="{% url 'accounts:delete_account' account.id %}">удалить</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  <table>
{% endblock %}
